.row.equal {
    display: flex !important;
    display: -webkit-flex !important;
    flex-wrap: wrap !important;
    padding: 10px;

}

.thumbnail {
    height: 100%;
    width: 100%;

}

.col-md-4 {
    width: 100%;
    padding: 10px;
}

