.row.equal {
    display: flex !important;
    display: -webkit-flex !important;
    flex-wrap: wrap !important;
    padding: 10px;

}

.thumbnail {
    height: 100%;
    width: 100%;

}

.col-md-4 {
    width: 100%;
    padding: 10px;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}