#topBlock {
	border-left: 10px solid red;
	background-color: #FDEDEC;

}

#titleText{
	margin-left: 25px;
}

#button {
	background-color: #FDEDEC;
    color: black;
	border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

#image {
	visibility: hidden;
}

